<html>
    <table>
        <tr>
            <td>
                TicketID
            </td>
            <td>
                TowerID
            </td>
            <td>
                TowerStreet
            </td>
            <td>
                ModuleID
            </td>
            <td>
                ErrorCode
            </td>
            <td>
                ErrorDetails
            </td>
            <td>
                ErrorDateTime
            </td>
            <td>
                AssignedUser_ID
            </td>
            <td>
                AssignedDateTime
            </td>
            <td>
                Ticket_Status
            </td>
            <td>
                CompletedDateTime
            </td>
            <td>
                Longitude
            </td>
            <td>
                Latitude
            </td>
        </tr>
    </table>
</html>